################################################
###############  .gitignore   ##################
################################################
#
# This file is only relevant if you are using git.
#
# Files which match the splat patterns below will
# be ignored by git.  This keeps random crap and
# and sensitive credentials from being uploaded to
# your repository.  It allows you to configure your
# app for your machine without accidentally
# committing settings which will smash the local
# settings of  other developers on your team.
#
################################################

################################################
# Local Configuration
#
# Explicitly ignore files which contain:
#
# 1. Sensitive information you'd rather not push to
#    your git repository.
#    e.g., your personal API keys or passwords.
#
# 2. Environment-specific configuration
#    Basically, anything that would be annoying
#    to have to change every time you do a
#    `git pull`
#    e.g., your local development database, or
#    the S3 bucket you're using for file uploads
#    development.
#
################################################
config/env/local.js
config/local.js
config/env/local.*.js
config/env/local.*.js
config/assets.json
nodemon.json
webpackStats.json

# Heavy files which may be downloaded or a backup.
*.deb
*.gz

################################################
# Dependencies
#
# When releasing a production app, you may
# consider including your node_modules and
# bower_components directory in your git repo,
# but during development, its best to exclude it,
# since different developers may be working on
# different kernels, where dependencies would
# need to be recompiled anyway.
#
# More on that here about node_modules dir:
# http://www.futurealoof.com/posts/nodemodules-in-git.html
# (credit Mikeal Rogers, @mikeal)
#
# About bower_components dir, you can see this:
# http://addyosmani.com/blog/checking-in-front-end-dependencies/
# (credit Addy Osmani, @addyosmani)
#
################################################
bin
node_modules
bower_components
public/live
tasks
/logs/*
public/build
public/require-js-build/main.js
public/build-config/*

public/pwa
public/js/service-worker.js

# ignore code coverage
coverage
reports

################################################
# Sails.js / Waterline / Grunt
#
# Files generated by Sails and Grunt, or related
# tasks and adapters.
################################################
.tmp
dump.rdb

################################################
# Node.js / NPM
#
# Common files generated by Node, NPM, and the
# related ecosystem.
################################################
lib-cov
*.seed
*.log
*.pid
npm-debug.log
.node_history

###############################################################
# OS X/Windows temporary files that should never be committed #
###############################################################
[Tt]humbs.db
.DS_Store
*#
*.swp
*.lock
*.out
*.bkp
*-bkp
*.old
*.hmap
.Trashes

# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~

####
# Recycle Bin used on file shares
$RECYCLE.BIN/

##########################
## Version control files #
##########################
/CVS/*
*/CVS/*
.cvsignore
*/.cvsignore
.svn
*.orig
*.rej

#################
# IDEs: Eclipse #
#################
.idea
reincarnation.iml
.cproject
.project
*.pydevproject
.metadata
.gradle
*.tmp
*.bak
*~.nib
local.properties
.settings/
.loadpath
.launch
!.vscode/.gitignore
!.vscode/settings.json
!.vscode/extensions.json
##################
# IDEs: Netbeans #
##################
.netbeans
nbproject/
nbproject/private/
nbbuild/
nbdist/
nbactions.xml
nb-configuration.xml
.komodotools/
*.komodoproject

##############################
# Miscellaneous Text Editors #
##############################
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
.*.kate-swp
.swp.*
.buildpath
.target

###########################
# Build, Cache, Logs etc. #
###########################
build/*
cache/*
log/*.log
logs/*.log
temp/*
tmp/*
reports
coverage
.history
# Adding package-lock.json in git ignore to avoid pushing it to git.
package-lock.json